.app__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__container__databases {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.app__container__question{
    font-size: 30px;
    width: 70vw;
    margin: 50px;
}

.app__container__databases__upload__icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-light);
    cursor: pointer;
}

.app__container__databases__dropdown{
    background: none;
    margin: 50px 10px;
}

.app__container__submit{
    margin: 100px;
}

.app__container__submit:disabled{
    cursor: not-allowed;
}