/* USER INPUT */
.loading{
    cursor: wait !important;
}

.userinput__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userinput__databases {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.bordered__icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    cursor: pointer;
}

.userinput__databases__upload__icon{
    font-size: 20px;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-size: 15px;
}

/* dropdown styling */
.userinput__databases__dropdown{
    margin: 50px 10px 50px 10px;
}
.userinput__dropdown__control{
    background: none !important;
    border: 2px solid var(--color-primary-variant) !important;
}
.userinput__dropdown__ph{
    color: var(--color-light);
}
.userinput__dropdown__menu{
    background: none !important;
    border: 2px solid var(--color-primary-variant) !important;
}
.userinput__dropdown__menu > *{
    color: var(--color-primary) !important;
}
.userinput__dropdown__menu > :hover{
    color: var(--color-bg-variant) !important;
}

.userinput__databases__delete__icon{
    font-size: 15px;
}

.userinput__submit{
    margin-top: 50px;
}

.userinput__submit:disabled{
    cursor: not-allowed;
}

/* OUTPUT */
.output__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-bottom: 10rem;
}

.output__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.output__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.output__rslts__list__ellys__container{
    background: var(--color-primary);
    border-radius: 2rem;
    transition: var(--transition);
    border: 0.2px solid transparent;
    margin: 1rem;
}

.output__rslts__list__ellys__container:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}

.output__rslts__list__elly{
    margin: 0.5rem;
}

.output__item h3 {
    margin: 1.2rem 0 2rem; /* 1rem == 16px (depedent on browser) */
    color: var(--color-primary);
}

/* MEDIA QUERIES */

/* For tablets */
@media screen and (max-width: 1024px) {
    .output__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* For phones */
@media screen and (max-width: 600px) {
    .output__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}